*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-padding-top: 2rem;
  list-style: none;
  text-decoration: none;
  scroll-behavior: none;
  font-family: 'Poppins', sans-serif;
}  

section{
  padding: 50px 10%;
}

poster{
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.50) 0%, rgba(0, 0, 0, 0.50) 100%), url(<path-to-image>), lightgray 50% / cover no-repeat;
}
header{
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  padding: 10px 10%;
  transition: 0.2s linear;
}
.home{
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.50) 0%, rgba(0, 0, 0, 0.50) 100%), url(./assets/Poster.png), lightgray 50% / cover no-repeat;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  gap: 1rem;
}
span{
  color: #FFF;
  font-family: DM Sans;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 56px; /* 116.667% */
}
.btn{
  border-radius: 6px;
  background: var(--rose-700, #BE123C);
  padding: 6px 16px;
  align-items: center;
  gap: 8px;
}